@model ColorViewModel
@using Komod.Web.Models.ProductModels
@using Komod.Web.Models

<form asp-action="EditColor" role="form">
    @await Html.PartialAsync("_ModalHeader", new ModalHeader { Heading = "Редактировать производителя" })
    <div class="modal-body form-horizontal">
        <div class="row">
            <div class="col-12">
                <input asp-for="Id" />
                <div class="form-group">
                    <span asp-validation-for="Name"></span><br />
                    <label asp-for="Name"></label>
                    <input asp-for="Name" class="form-control" />
                </div>
                <div class="form-group">
                    <span asp-validation-for="ColorCode"></span><br />
                    <label asp-for="ColorCode"></label>
                    <input asp-for="ColorCode" class="form-control" type="color" />
                </div>
            </div>
        </div>
    </div>
    @await Html.PartialAsync("_ModalFooter", new ModalFooter { })
</form>