
@{
    ViewData["Title"] = "О магазине постельного белья, пряжи и текстиля в Тольятти";
    ViewData["Description"] = "О магазине постельного белья, пряжи и текстиля komod-tlt.ru ➨бесплатная доставка в Тольятти от 2000 ➨самовывоз ➨хорошее качество по доступной цене ➨акции! ➨Заходите!";
    ViewData["Keywords"] = "Набитый комод интернет магазин Тольятти";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<!-- ABOUT-US -->
<section class="main-about-us">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="section-title">О магазине</h2>
            </div>
        </div>
    </div>
    <div class="section-wrapper us-description">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h3 class="us-description__title">Добро пожаловать в наш магазин!</h3>
                    <img src="~/images/shop-img.jpg" alt="Магазин" class="us-description__img">
                    <p class="us-description__text">У нас в магазине вы найдете более 100 видов постельного белья разных дизайнов, размеров, тканей и производителей.</p>
                    <p class="us-description__text">
                        Большой ассортимент различных подушек, одеял, покрывал и пледов для комфортного и здорового сна, а любителям посидеть перед телевизором со спицами мы предоставим широкий выбор пряжи и товаров для рукоделия. Ассортимент постоянно расширяется.
                    </p>
                    <p class="us-description__text">
                        Преимущества нашего магазина заключаются в :
                    </p>
                    <p class="us-description__text">
                        - высоком качестве продукции;
                    </p>
                    <p class="us-description__text">
                        - низких ценах;
                    </p>
                    <p class="us-description__text">- качественном обслуживании.</p>
                    <p class="us-description__text">
                        Работаем индивидуально с каждым покупателем. Форма расчетов у нас различная: как по карте, так и наличным способом. Каждый день проводятся акции очень выгодные для вас! Абсолютно честные, без предварительных смен цен в большую сторону.
                    </p>
                    <p class="us-description__text">
                        А, имея нашу дисконтную карту, вы сможете приобретать товары, не будучи привязанными к акциям. Дисконтные карты накопительные от 3% до 15%.
                    </p>
                    <p class="us-description__text">
                        Убедитесь сами!
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ABOUT-US END -->
