
@{
    ViewData["Title"] = "Доставка постельного белья, пряжи и текстиля в Тольятти";
    ViewData["Description"] = "Доставка постельного белья, пряжи и текстиля в интернет магазине komod-tlt.ru ➨бесплатная доставка в Тольятти от 2000 ➨самовывоз ➨хорошее качество по доступной цене ➨акции! ➨Заходите!";
    ViewData["Keywords"] = "магазин интернет Набитый комод Тольятти способы доставка заказ ";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<!-- DELIVERY -->
<section class="main-about-us">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="section-title">Оплата и доставка</h2>
            </div>
        </div>
    </div>
    <div class="section-wrapper delivery">
        <div class="container">
            <div class="row">
                <div itemscope itemtype="http://schema.org/Organization" class="col-12">
                    <div itemscope itemtype="http://schema.org/DeliveryMethod">
                        <h3 class="delivery__title">Мы предоставляем способы доставки заказов:</h3>
                        <h3 class="delivery__title">Доставка по Тольятти:</h3>
                        <p class="delivery-cost__text">Автозаводский район: доставка 200 рублей, от 2000 бесплатно.</p>
                        <p class="delivery-cost__text">Центральный район: доставка 250 рублей, от 2500 бесплатно.</p>
                        <p class="delivery-cost__text">Комсомольский район: доставка 300 рублей, от 3000 бесплатно.</p>
                        <p class="delivery-cost__text">Самовывоз - бесплатно с г. Тольятти, Ворошилова 24. Заказ будет располагаться в пункте самовывоза в течении 3 дней после оформления заказа</p>
                        <h3 class="delivery__title">Доставка по РФ:</h3>
                        <p class="delivery-cost__text">Осуществляется Почтой России и СДЭКом, рассчитывается индивидуально по номеру телефона указанном на сайте или в соц. сетях.</p>
                    </div>
                    <div itemscope itemtype="https://schema.org/PaymentMethod">
                        <h3 class="delivery__title">В нашем магазине предусмотренны несколько способов оплаты заказа:</h3>
                        <div itemprop="acceptedPaymentMethod" class="delivery-cost__text">1. наличными при получении</div>
                        <div itemprop="acceptedPaymentMethod" class="delivery-cost__text">
                            2. безналичный расчет
                            <img src="~/images/visa.png" alt="Visa">
                            <img src="~/images/mastercard.png" alt="Mastercard">
                            <img src="~/images/maestro.png" alt="Maestro">
                        </div>
                    </div>
                    <p class="delivery-cost__text">При получении товара внимательно ознакомьтесь с заказом для исключения неверной комплектации или брака. В случае полного или частичного отказа от покупки доставка обратно курьером или почтой России оплачивается покупателем согласно ст. 497 ГК РФ.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- DELIVERY END -->
