
@{
    ViewData["Title"] = "Скидки в интернет-магазине Набитый Комод в Тольятти";
    ViewData["Description"] = "Скидки в наших магазинах Набитый Комод. Дисконтные карты, распродажи, акции.";
    ViewData["Keywords"] = "скидки магазин интернет дисконтные карты рапродажи акции Набитый комод Тольятти";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<!-- main-discounts -->
<section class="main-about-us">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="section-title">Скидки, бонусы, акции</h2>
            </div>
        </div>
    </div>
    <div class="section-wrapper main-discounts">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="discount-block">
                        <div class="main-discounts__group">
                            <p class="main-discounts__text">На данный момент информация</p>
                        </div>
                    </div>
                </div>
            </div>
            @*<div class="row">
                    <div class="col-12">
                        <div class="discount-block">
                            <div class="main-discounts__group">
                                <h3 class="main-discounts__title">Скидки до 25% на комплекты постельного белья</h3>
                                <p class="main-discounts__text">Здесь более подробное описание условия скидки. На какие комплекты расространяется, на какие нет.</p>
                                <p class="main-discounts__text">Также дата окончания акции. Возможно еще какие-либо условия.</p>
                            </div>
                            <div class="main-discounts__img">
                                <div class="main-discounts__gradient_black"></div>
                                <img src="~/images/discount-img.jpg" alt="Скидка">
                            </div>
                        </div>
                        <div class="sale-block">
                            <div class="main-discounts__img">
                                <div class="main-discounts__gradient_white"></div>
                                <img src="~/images/sale-img.jpg" alt="Распродажа">
                            </div>
                            <div class="main-discounts__group">
                                <h3 class="main-discounts__title">
                                    Распродажа с 15 по 25 сентября
                                    <span class="main-discounts_red">Скидки до 60%!!!</span>
                                </h3>
                                <p class="main-discounts__text">Здесь более подробное описание условия скидки. На какие комплекты расространяется, на какие нет.</p>
                                <p class="main-discounts__text">Также дата окончания акции. Возможно еще какие-либо условия.</p>
                            </div>
                        </div>
                        <div class="share-block">
                            <div class="main-discounts__group">
                                <h3 class="main-discounts__title">Акция! 2 подушки по цене одной!</h3>
                                <p class="main-discounts__text">Здесь более подробное описание условия скидки. На какие комплекты расространяется, на какие нет.</p>
                                <p class="main-discounts__text">Также дата окончания акции. Возможно еще какие-либо условия.</p>
                            </div>
                            <div class="main-discounts__img">
                                <div class="main-discounts__gradient_black"></div>
                                <img src="~/images/share-img.jpg" alt="Акция">
                            </div>
                        </div>
                        <div class="bonus-block">
                            <h3 class="bonus-block__title">Бонусная программа</h3>
                            <p class="bonus-block__text">Здесь описывается условия получения постоянной скидки покупателем. Например, после суммарных покупок на какую-либо сумму или единовременной покупки на определенную сумму.</p>
                            <p class="bonus-block__text">Например, после суммарных покупок на какую-либо сумму или единовременной покупки на определенную сумму. Возможно еще какой-то текст. Возможно еще какой-то текст. Возможно еще какой-то текст.</p>
                        </div>
                    </div>
                </div>*@
        </div>
    </div>
</section>
<!-- main-discounts END -->
