
@{
    ViewData["Title"] = "Результат поиска";
    ViewData["Description"] = "Результаты поиска в магазине Набитый Комод";
    ViewData["Keywords"] = "результат поиск магазин Набитый Комод";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<section class="main-about-us" style="padding-top: 60px;">

    <div class="favourites-mobile section-wrapper section-wrapper_color" style="padding:15px; margin-top: -40px;">
        <h3 style="font-size: 25px; text-align:center; margin: 10px 0;">Поиск не дал результатов</h3>
    </div>

    <div class="section-wrapper section-wrapper_color cart favourites">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h3 class="text-center">Поиск не дал результатов</h3>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- CONTACTS END -->
