@model Komod.Web.Models.AccountModels.LoginViewModel

<div class="modal-wrapper">
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.min.js"
            asp-fallback-src="~/lib/jquery-validation/dist/jquery.validate.min.js"
            asp-fallback-test="window.jQuery && window.jQuery.validator">
    </script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"
            asp-fallback-src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"
            asp-fallback-test="window.jQuery && window.jQuery.validator && window.jQuery.validator.unobtrusive">
    </script>
    <div class="modal-wrapper__header">
        <p>Авторизация</p>
        <a href="#close" title="Закрыть" class="close-modal"><span></span></a>
    </div>
    <div itemscope itemtype="http://schema.org/Service" class="modal-wrapper__body">
        <form asp-action="Login" class="login-form" id="login-form" role="form">
            <div class="login-form__group mt-2 mb-2">
                <span id="login-form__error"></span>
            </div>
            <div class="login-form__group">
                <label asp-for="Email" class="login-form__label"></label>
                <input asp-for="Email" type="text" class="login-form__input">
                <span asp-validation-for="Email"></span>
            </div>
            <div class="login-form__group">
                <label asp-for="Password" class="login-form__label"></label>
                <input asp-for="Password" type="password" class="login-form__input">
                <span asp-validation-for="Password"></span>
            </div>
            <div class="login-form__group">
                <button class="login-form__btn" type="submit">Войти</button>
                <a href="#open-forget-modal" class="login-form__forget-pass">Забыли пароль?</a>
            </div>
        </form>
    </div>
</div>