@model EventPromotionViewModel
@using Komod.Web.Models.EventPromotionModels
@using Komod.Web.Models

<form asp-action="DeleteEventPromotion" role="form">
    @Html.Partial("_ModalHeader", new ModalHeader { Heading = "Удаление акции" })

    <div class="modal-body">
        <input asp-for="Id" />
        Вы уверены, что хотите удалить @Model.Name?
    </div>
    @Html.Partial("_ModalFooter", new ModalFooter { SubmitButtonText = "Удалить" })
</form>