
@{
    ViewData["Title"] = "Подтверждение";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<section class="main-about-us">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="section-title">Заказ оформлен</h2>
            </div>
        </div>
    </div>
    <div class="section-wrapper order">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <p style="font-size:calc(1.41vw*0.75);">Спасибо что оформили заказ. Вам отправлено письмо на почту с информацией о заказе. В скором времени с вами свяжется наш менеджер для подтверждения заказа.</p>
                </div>
            </div>
        </div>
    </div>
</section>
