@model StockStatusViewModel
@using Komod.Web.Models.StatusModels
@using Komod.Web.Models

<form asp-action="DeleteStockStatus" role="form">
    @Html.Partial("_ModalHeader", new ModalHeader { Heading = "Удаление статуса артикула" })

    <div class="modal-body">
        <input asp-for="Id" />
        Вы уверены, что хотите удалить @Model.Name?
    </div>
    @Html.Partial("_ModalFooter", new ModalFooter { SubmitButtonText = "Удалить" })
</form>