@model OrderStatusViewModel
@using Komod.Web.Models.StatusModels
@using Komod.Web.Models

<form asp-action="EditOrderStatus" role="form">
    @await Html.PartialAsync("_ModalHeader", new ModalHeader { Heading = "Редактировать статус заказа" })
    <div class="modal-body form-horizontal">
        <div class="row">
            <div class="col-12">
                <input asp-for="Id" />
                <div class="form-group">
                    <span asp-validation-for="Name"></span><br />
                    <label asp-for="Name"></label>
                    <input asp-for="Name" class="form-control" />
                </div>
            </div>
        </div>
    </div>
    @await Html.PartialAsync("_ModalFooter", new ModalFooter { })
</form>