@model DeliveryMethodViewModel
@using Komod.Web.Models.Methods
@using Komod.Web.Models

<form asp-action="DeleteDeliveryMethod" role="form">
    @Html.Partial("_ModalHeader", new ModalHeader { Heading = "Удаление метода доставки" })

    <div class="modal-body">
        <input asp-for="Id" />
        Вы уверены, что хотите удалить @Model.Name?
    </div>
    @Html.Partial("_ModalFooter", new ModalFooter { SubmitButtonText = "Удалить" })
</form>