<!DOCTYPE html>
<!--
* CoreUI - Free Bootstrap Admin Template
* version v3.2.0
* link https://coreui.io
* Copyright (c) 2020 creativeLabs Łukasz Holeczek
* Licensed under MIT (https://coreui.io/license)
-->
<html lang="ru">

<head>
    <base href="./">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="description" content="CoreUI - Open Source Bootstrap Admin Template">
    <meta name="author" content="Łukasz Holeczek">
    <meta name="keyword" content="Bootstrap,Admin,Template,Open,Source,jQuery,CSS,HTML,RWD,Dashboard">
    <title>@ViewData["Title"] - Панель администратора. Набитый комод</title>
    <link rel="apple-touch-icon" sizes="57x57" href="~/admin/assets/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="~/admin/assets/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="~/admin/assets/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="~/admin/assets/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="~/admin/assets/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="~/admin/assets/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="~/admin/assets/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="~/admin/assets/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="~/admin/assets/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="~/admin/assets/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/admin/assets/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="~/admin/assets/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/admin/assets/favicon/favicon-16x16.png">
    <link rel="manifest" href="~/admin/assets/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="~/admin/assets/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <!-- Main styles for this application-->
    <link href="~/admin/css/style.css" rel="stylesheet">
    @*<!-- Global site tag (gtag.js) - Google Analytics-->
        <script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-118965717-3"></script>
        <script>
            window.dataLayer = window.dataLayer || [];

            function gtag() {
                dataLayer.push(arguments);
            }
            gtag('js', new Date());
            // Shared ID
            gtag('config', 'UA-118965717-3');
            // Bootstrap ID
            gtag('config', 'UA-118965717-5');

        </script>*@
    <link href="~/admin/vendors/coreui/chartjs/css/coreui-chartjs.css" rel="stylesheet">
    <link href="~/admin/vendors/coreui/icons/css/free.min.css" rel="stylesheet">
</head>

<body class="c-app">
    <div class="c-sidebar c-sidebar-dark c-sidebar-fixed c-sidebar-lg-show" id="sidebar">
        <div class="c-sidebar-brand d-lg-down-none">
            <svg class="c-sidebar-brand-full" width="118" height="46" alt="CoreUI Logo">
                <use xlink:href="/admin/assets/brand/coreui.svg#full"></use>
            </svg>
            <svg class="c-sidebar-brand-minimized" width="46" height="46" alt="CoreUI Logo">
                <use xlink:href="/admin/assets/brand/coreui.svg#signet"></use>
            </svg>
        </div>
        <ul class="c-sidebar-nav">
            <li class="c-sidebar-nav-item">
                <a class="c-sidebar-nav-link" asp-controller="Admin" asp-action="Dashboard">
                    <svg class="c-sidebar-nav-icon">
                        <use xlink:href="/admin/vendors/coreui/icons/svg/free.svg#cil-speedometer"></use>
                    </svg> Главная<span class="badge badge-info">NEW</span>
                </a>
            </li>
            <li class="c-sidebar-nav-title">Управление товарами</li>
            <li class="c-sidebar-nav-item">
                <a class="c-sidebar-nav-link" asp-controller="Product" asp-action="Products">
                    <i class="c-icon cil-cart ml-2 mr-2"></i> Товары
                </a>
            </li>
            <li class="c-sidebar-nav-item">
                <a class="c-sidebar-nav-link" asp-controller="Category" asp-action="Categories">
                    <i class="c-icon cil-playlist-add ml-2 mr-2"></i> Категории
                </a>
            </li>
            <li class="c-sidebar-nav-item">
                <a class="c-sidebar-nav-link" asp-controller="Brand" asp-action="Brands">
                    <i class="c-icon cil-industry ml-2 mr-2"></i> Производители
                </a>
            </li>
            <li class="c-sidebar-nav-item">
                <a class="c-sidebar-nav-link" asp-controller="Country" asp-action="Countries">
                    <i class="c-icon cil-industry ml-2 mr-2"></i> Страны
                </a>
            </li>
            <li class="c-sidebar-nav-item">
                <a class="c-sidebar-nav-link" asp-controller="Property" asp-action="Properties">
                    <i class="c-icon cil-resize-both ml-2 mr-2"></i> Характеристики
                </a>
            </li>
            <li class="c-sidebar-nav-item">
                <a class="c-sidebar-nav-link" asp-controller="Property" asp-action="Colors">
                    <i class="c-icon cil-color-palette ml-2 mr-2"></i> Цвета
                </a>
            </li>
            <li class="c-sidebar-nav-item c-sidebar-nav-dropdown">
                <a class="c-sidebar-nav-link c-sidebar-nav-dropdown-toggle"
                   href="#">
                    <i class="c-icon cil-options ml-2 mr-2"></i> Скидки
                </a>
                <ul class="c-sidebar-nav-dropdown-items">
                    @*<li class="c-sidebar-nav-item">
            <a class="c-sidebar-nav-link" asp-controller="Product" asp-action="AllDiscount">
                <span class="c-sidebar-nav-icon"></span> Скидка для всех
            </a>
        </li>*@
                    <li class="c-sidebar-nav-item">
                        <a class="c-sidebar-nav-link" asp-controller="EventPromotion" asp-action="EventPromotions">
                            <span class="c-sidebar-nav-icon"></span> Акции
                        </a>
                    </li>
                    <li class="c-sidebar-nav-item">
                        <a class="c-sidebar-nav-link" asp-controller="Promocode" asp-action="Promocodes">
                            <span class="c-sidebar-nav-icon"></span> Промокоды
                        </a>
                    </li>
                    <li class="c-sidebar-nav-item">
                        <a class="c-sidebar-nav-link" asp-controller="ProductSet" asp-action="ProductSets">
                            <span class="c-sidebar-nav-icon"></span> Комплекты
                        </a>
                    </li>
                </ul>
            </li>
            <li class="c-sidebar-nav-item">
                <a class="c-sidebar-nav-link" asp-controller="Status" asp-action="StockStatuses">
                    <i class="c-icon cil-check-alt ml-2 mr-2"></i> Статусы продукта
                </a>
            </li>
            <li class="c-sidebar-nav-item c-sidebar-nav-dropdown">
                <a class="c-sidebar-nav-link c-sidebar-nav-dropdown-toggle"
                   href="#">
                    <i class="c-icon cil-options ml-2 mr-2"></i> Опции
                </a>
                <ul class="c-sidebar-nav-dropdown-items">
                    @*<li class="c-sidebar-nav-item">
                    <a class="c-sidebar-nav-link" asp-controller="Product" asp-action="AllDiscount">
                        <span class="c-sidebar-nav-icon"></span> Скидка для всех
                    </a>
                </li>*@
                    <li class="c-sidebar-nav-item">
                        <a class="c-sidebar-nav-link" asp-controller="BD" asp-action="UploadDB">
                            <span class="c-sidebar-nav-icon"></span> Обновление БД
                        </a>
                    </li>
                </ul>
            </li>

            <li class="c-sidebar-nav-title">Управление пользователями</li>
            <li class="c-sidebar-nav-item">
                <a class="c-sidebar-nav-link" asp-controller="Role" asp-action="Roles">
                    <i class="c-icon ml-2 mr-2 cil-people"></i> Роли
                </a>
            </li>
            <li class="c-sidebar-nav-item">
                <a class="c-sidebar-nav-link" asp-controller="User" asp-action="Users">
                    <i class="c-icon ml-2 mr-2 cil-user"></i> Пользователи
                </a>
            </li>

            <li class="c-sidebar-nav-title">Управление заказами</li>
            <li class="c-sidebar-nav-item">
                <a class="c-sidebar-nav-link" asp-controller="OrderAdmin" asp-action="Orders">
                    <i class="c-icon ml-2 mr-2 cil-truck"></i> Заказы
                </a>
            </li>

            <li class="c-sidebar-nav-item">
                <a class="c-sidebar-nav-link" asp-controller="Status" asp-action="OrderStatuses">
                    <i class="c-icon cil-check-alt ml-2 mr-2"></i> Статусы заказа
                </a>
            </li>

            <li class="c-sidebar-nav-item">
                <a class="c-sidebar-nav-link" asp-controller="DeliveryMethod" asp-action="DeliveryMethodes">
                    <i class="c-icon cil-check-alt ml-2 mr-2"></i> Методы доставки
                </a>
            </li>

            @*<li class="c-sidebar-nav-title">Управление отзывами</li>
        <li class="c-sidebar-nav-item">
            <a class="c-sidebar-nav-link" asp-controller="Review" asp-action="Reviews">
                <i class="c-icon ml-2 mr-2 cil-comment-bubble"></i> Отзывы
            </a>
        </li>*@
        </ul>
        <button class="c-sidebar-minimizer c-class-toggler" type="button" data-target="_parent"
                data-class="c-sidebar-minimized"></button>
    </div>
    <div class="c-wrapper c-fixed-components">
        <header class="c-header c-header-light c-header-fixed c-header-with-subheader">
            <button class="c-header-toggler c-class-toggler d-lg-none mfe-auto" type="button" data-target="#sidebar"
                    data-class="c-sidebar-show">
                <svg class="c-icon c-icon-lg">
                    <use xlink:href="/admin/vendors/coreui/icons/svg/free.svg#cil-menu"></use>
                </svg>
            </button><a class="c-header-brand d-lg-none" href="#">
                <svg width="118" height="46" alt="CoreUI Logo">
                    <use xlink:href="/admin/assets/brand/coreui.svg#full"></use>
                </svg>
            </a>
            <button class="c-header-toggler c-class-toggler mfs-3 d-md-down-none" type="button" data-target="#sidebar"
                    data-class="c-sidebar-lg-show" responsive="true">
                <svg class="c-icon c-icon-lg">
                    <use xlink:href="/admin/vendors/coreui/icons/svg/free.svg#cil-menu"></use>
                </svg>
            </button>
            <ul class="c-header-nav d-md-down-none">
                <li class="c-header-nav-item px-3"><a class="c-header-nav-link" asp-controller="Admin" asp-action="Dashboard">Главная</a></li>
                <li class="c-header-nav-item px-3"><a class="c-header-nav-link" asp-controller="User" asp-action="Users">Пользователи</a></li>
                @*<li class="c-header-nav-item px-3"><a class="c-header-nav-link" href="#">Настройки</a></li>*@
                <li class="c-header-nav-item px-3"><a class="c-header-nav-link" asp-controller="Home" asp-action="Index">Вернуться на сайт</a></li>
            </ul>
            <ul class="c-header-nav ml-auto mr-4">
                <li class="c-header-nav-item d-md-down-none mx-2">
                    <a class="c-header-nav-link" href="#">
                        <svg class="c-icon">
                            <use xlink:href="/admin/vendors/coreui/icons/svg/free.svg#cil-bell"></use>
                        </svg>
                    </a>
                </li>
                <li class="c-header-nav-item d-md-down-none mx-2">
                    <a class="c-header-nav-link" href="#">
                        <svg class="c-icon">
                            <use xlink:href="/admin/vendors/coreui/icons/svg/free.svg#cil-list-rich"></use>
                        </svg>
                    </a>
                </li>
                <li class="c-header-nav-item d-md-down-none mx-2">
                    <a class="c-header-nav-link" href="#">
                        <svg class="c-icon">
                            <use xlink:href="/admin/vendors/coreui/icons/svg/free.svg#cil-envelope-open"></use>
                        </svg>
                    </a>
                </li>
                <li class="c-header-nav-item dropdown">
                    <a class="c-header-nav-link" data-toggle="dropdown" href="#"
                       role="button" aria-haspopup="true" aria-expanded="false">
                        <div class="c-avatar"><img class="c-avatar-img" src="~/admin/assets/img/avatars/6.jpg" alt="user@email.com"></div>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right pt-0">
                        <div class="dropdown-header bg-light py-2"><strong>Account</strong></div><a class="dropdown-item" href="#">
                            <svg class="c-icon mr-2">
                                <use xlink:href="/admin/vendors/coreui/icons/svg/free.svg#cil-bell"></use>
                            </svg> Updates<span class="badge badge-info ml-auto">42</span>
                        </a><a class="dropdown-item" href="#">
                            <svg class="c-icon mr-2">
                                <use xlink:href="/admin/vendors/coreui/icons/svg/free.svg#cil-envelope-open"></use>
                            </svg> Messages<span class="badge badge-success ml-auto">42</span>
                        </a><a class="dropdown-item" href="#">
                            <svg class="c-icon mr-2">
                                <use xlink:href="/admin/vendors/coreui/icons/svg/free.svg#cil-task"></use>
                            </svg> Tasks<span class="badge badge-danger ml-auto">42</span>
                        </a><a class="dropdown-item" href="#">
                            <svg class="c-icon mr-2">
                                <use xlink:href="/admin/vendors/coreui/icons/svg/free.svg#cil-comment-square"></use>
                            </svg> Comments<span class="badge badge-warning ml-auto">42</span>
                        </a>
                        <div class="dropdown-header bg-light py-2"><strong>Settings</strong></div><a class="dropdown-item" href="#">
                            <svg class="c-icon mr-2">
                                <use xlink:href="/admin/vendors/coreui/icons/svg/free.svg#cil-user"></use>
                            </svg> Profile
                        </a><a class="dropdown-item" href="#">
                            <svg class="c-icon mr-2">
                                <use xlink:href="/admin/vendors/coreui/icons/svg/free.svg#cil-settings"></use>
                            </svg> Settings
                        </a><a class="dropdown-item" href="#">
                            <svg class="c-icon mr-2">
                                <use xlink:href="/admin/vendors/coreui/icons/svg/free.svg#cil-credit-card"></use>
                            </svg> Payments<span class="badge badge-secondary ml-auto">42</span>
                        </a><a class="dropdown-item" href="#">
                            <svg class="c-icon mr-2">
                                <use xlink:href="/admin/vendors/coreui/icons/svg/free.svg#cil-file"></use>
                            </svg> Projects<span class="badge badge-primary ml-auto">42</span>
                        </a>
                        <div class="dropdown-divider"></div><a class="dropdown-item" href="#">
                            <svg class="c-icon mr-2">
                                <use xlink:href="/admin/vendors/coreui/icons/svg/free.svg#cil-lock-locked"></use>
                            </svg> Lock Account
                        </a>
                        <form asp-action="LogOff" asp-controller="Account" method="post" id="logOffForm" style="display:none">
                        </form>
                        <a class="dropdown-item" href="javascript:{}" onclick="document.getElementById('logOffForm').submit(); return false;">
                            <svg class="c-icon mr-2">
                                <use xlink:href="/admin/vendors/coreui/icons/svg/free.svg#cil-account-logout"></use>
                            </svg> Выход
                        </a>
                    </div>
                </li>
            </ul>
        </header>
        <div class="c-body">
            <main class="c-main">
                @RenderBody()
            </main>

            <footer class="c-footer">
                <div><a href="https://coreui.io">CoreUI</a> © 2020 creativeLabs.</div>
                <div class="ml-auto">Powered by&nbsp;<a href="https://coreui.io/">CoreUI</a></div>
            </footer>
        </div>
    </div>
    <!-- jQuery -->
    <script src="~/js/jquery-3.3.1.min.js"></script>
    <script src="~/js/nouislider.min.js"></script>
    <script src="~/js/jquery.unobtrusive-ajax.js"></script>
    <script src="~/js/jquery.validate.min.js"></script>
    <script src="~/js/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/js/ckeditor.js"></script>
    <!-- CoreUI and necessary plugins-->
    <script src="~/admin/vendors/coreui/coreui/js/coreui.bundle.min.js"></script>
    <!--[if IE]><!-->
    <script src="~/admin/vendors/coreui/icons/js/svgxuse.min.js"></script>
    <!--<![endif]-->
    <!-- Plugins and scripts required by this view-->
    <script src="~/admin/vendors/coreui/chartjs/js/coreui-chartjs.bundle.js"></script>
    <script src="~/admin/vendors/coreui/utils/js/coreui-utils.js"></script>
    <script src="~/admin/js/main.js"></script>
    @RenderSection("Scripts", required: false)
</body>

</html>
