@model Komod.Web.Models.BootstrapModel

<div class="modal fade" id="@Model.ID" tabindex="-1" role="dialog" aria-labelledby="@Model.AreaLabeledId" aria-hidden="true">
    <div class="modal-dialog @Model.ModalSizeClass mt-5" role="document">
        <div class="modal-content" id="modal-content">

        </div>
        <!-- /.modal-content-->
    </div>
    <!-- /.modal-dialog-->
</div>